<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Blood Donation</title>
    <style>
        .my-nav-bar {
            background-color: rgb(175, 4, 4);
        }
        
        .my-container {
            border: 1px solid black;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .my-col {
            text-align: center;
            margin: auto;
            border: 1px solid black;
        }
    </style>
</head>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <a href="MiniProject\bloodDonation\templates\signup.html" class="button-primary">Signup</a> -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark my-nav-bar">
        <div class="container">
            <a class="navbar-brand" href="/home">Drops of Life</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto mr-3">
                    <li class="nav-item my-item">
                        {%if login%}
                        <a class="nav-link" href="/user_login">{{login}}</a>{%endif%}
                    </li>
                    <li class="nav-item my-item">
                        {%if signup%}
                        <a class="nav-link" href="/signup">{{signup}}</a> {%endif%}
                    </li>
                    <li class="nav-item my-item">
                        <a class="nav-link" href="/search">Search</a>
                    </li>
                    <li class="nav-item my-item">
                        {%if viewProfile%}
                        <a class="nav-link" href="/profile">{{viewProfile}}</a> {%endif%}
                    </li>
                    <li class="nav-item my-item">
                        <!-- {%if logout%} -->
                        <a class="nav-link" href="/profile">{{logout}}</a>
                        <!-- {%endif%} -->
                    </li>
                </ul>
            </div>
        </div>

    </nav>

    <span class="border justify-content-xl-center">
            <div class="centered">
                <div class="container">
                    <div calss="container mt-3 mr-3 ml-3 mb-3">
                        <form action="">
                            <p>
                                <strong>Current Password: </strong>
                                <input type="password" id="cupwd">
                            </p><br>
                            <p>
                                <strong>New Password : </strong>
                                <input type="password" id="npwd">
                            </p><br>
                            <p>
                                <strong>Conform Password: </strong>
                                <input type="password" id="conpwd">
                            </p><br>
                            <button type="button" class="btn btn-success"><strong>Save</strong></button>
                            <button type="button" class="btn btn-warning"><strong>Reset</strong></button>
                        </form>
                    </div>
                </div>
            </div>
        </span>

</body>

</html>