{% extends "files/header.html" %} {% block title %}Drops of Life {% endblock %} {%load static %} {% block content %}

<style>
    .my-container1 {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .center {
        margin: auto;
        width: 100%;
        padding: 10px;
    }
    
    .container1 {
        background: -webkit-linear-gradient(left, #c5d3ee, #e7d3e7, rgb(247, 220, 220));
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .design-button {
        border-radius: 50%;
    }
    
    .new-container {
        padding-bottom: 50px;
    }
    
    .jumbotron {
        padding: 0 0;
        margin-bottom: 50;
        background-color: white;
        background: -webkit-linear-gradient(left, #c5d3ee, #e7d3e7, rgb(247, 220, 220));
    }
    
    .my-image1 {
        border-radius: 5%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .items {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .my-row {
        display: flex;
        align-content: space-between;
    }
    
    .my-image2 {
        max-width: 300px;
        max-height: 300px;
    }
</style>
<div class="jumbotron">
    <div class="container my-jumbotron">
        {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %} {{ message }} {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <div class="row align-items-center" style="padding-top: 10px;">
            <div class="col-sm align-self-center">
                <div class="row">
                    <div class="col align-self-center" style="text-align:
                        center;">
                        <h1 style="font-family:serif">Lets join our hands to save lives
                        </h1>
                    </div>
                </div>
                {% if user.is_authenticated%} {% else %}
                <div class="row">
                    <div class="col-sm align-self-center" style="text-align:
                        center;">
                        <p style="font-family:candara body copy">Make your first donation now </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm align-self-center" style="text-align:
                        center;">
                        <a href="/signup"><button class="bt btn-dark">Register</button></a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-sm align-self-center">
                <div class="container" style="margin: 20px 0px;">
                    <img src="{% static 'images/holdinghands.jpg'%}" alt="hand" class="img-fluid
                        my-image1">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row align-items-center">
        <div class="col align-self-center">
            <div class="container" style="margin: 20px 20px;">
                <img src="{% static 'images/donate.jpg' %}" alt="Donate" class="img-fluid my-image2">
            </div>
        </div>
        <div class="col align-self-center">
            <div class="container">
                <h4 style="text-align: center; color: rgb(160, 5, 5);">What to Know about Blood Donation</h4>
                <p style="font-size:15px;">Donating blood is a safe process and people should not hesitate to give or receive blood. Right now, eligible and healthy donors are strongly urged to make an appointment to give soon. 1 donation can potentially save up to 3 lives.Blood
                    is the most precious gift that anyone can give to another person — the gift of life. A decision to donate your blood can save a life, or even several if your blood is separated into its components — red cells, platelets and plasma
                    — which can be used individually for patients with specific conditions.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 100px;">
    <div class="row align-items-center">
        <div class="col-sm align-self-center">
            <div class="container">
                <h2 style="text-align: center; color: rgb(160, 5, 5);">About Us
                </h2>
                <p style="font-size:15px;text-align: center;">Our aim is to enable the individuals who want to donate blood and help needy.The person who need blood can communicate with the donor through the data which is availabe in the website.The main objective for developing the website is to
                    educate the community on the benifits of Blood Donation, develope a Web-Based Blood Bank System to manage records of donors and recipients, and encourage voluntary blood donation, easily accessing any information about donors.
                </p>
            </div>
        </div>
        <div class="col-sm align-self-center">
            <div class="container" style="margin: 20px 20px;text-align:
                center;">
                <img src="{% static 'images/background-hand.jpg' %}" alt="Donate" class="img-fluid my-image1">
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:60px ;">
    <div class="row align-items-center" style="margin-top: 30px;">
        <div class="col-sm">
            <img src="{% static 'images/search-small.jpg' %}" alt="Donate" class="img-fluid">
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col" style="text-align: center;">
                    <h2 style="text-align: center; color: rgb(160, 5,
                        5);">
                        Search for donors </h2>
                    <p>Searching for donors is very easy all you need to do is to just fill in your details and then you will find the nearest donor who is matching blood group.This application is built with least possible flitering options for specifing
                        locations of the donors.</p>
                    <p>Make your first search now <a href="/search"><button
                                class="btn btn-outline-dark">Search</button></a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="page-footer font-small black" style="margin-top: 30px;margin-bottom: 40px;">
    <small>
        <div class="footer-copyright" style="text-align: center;">
            © Made with <span style="color: #e25555;">&#9829;</span> in Django
            <a href="#">Developers</a>
        </div>
    </small>
</footer>


{% endblock content %}
