{% extends "files/header.html" %} {% block title %}Drops of Life {% endblock %} {%load static %} {% block content %} {%load static %}
    <style>
        .my-nav-bar {
            background-color: rgb(160, 5, 5);
        }
        
        .my-container {
            max-width: 500px;
            max-height: 500px;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            background: -webkit-linear-gradient(left, #eee2ca, #f4f5d2);
            border-radius: 25px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        .my-form {
            padding: 30px;
            margin-left: auto;
            margin-right: auto;
        }
        
        body {
            background: -webkit-linear-gradient(left, #c5d3ee, #e7d3e7, rgb(247, 220, 220));
        }
        
        .note {
            text-align: center;
            height: 80px;
            background: -webkit-linear-gradient(left, rgb(160, 5, 5), #2d70ee);
            color: #fff;
            line-height: 80px;
            font-size: x-large;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
    </style>
    <div class="container">
        <div class="cointainer my-container">
            <div class="note">
                <p>Login</p>
            </div>
            {%if messages%}
            <div class="container" style="text-align: center;">
                {%for message in messages %}
                <p style="color: rgb(212, 6, 6);">{{message}}</p>
                {%endfor%}
            </div>
            {%endif%}
            <form role="form" action="/login" method="post" role="form" class="form-design
                    my-form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" class="form-control" required style="border-radius:
                            15px;">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" class="form-control" required style="border-radius:
                            15px;">
                </div>

                <div class="form-group md-form">
                    <button class="btn btn-lg btn-primary btn-block" style="background:
                            -webkit-linear-gradient(left,
                            #4c89fa,#9f76e0); max-width: 250px;margin: auto;" type="submit">Login</button>
                </div>
                <div class="form-group md-form">
                    <a href="/forgotpassword" style="color: #2d48e2;"><small>Forgot
                                Password</small></a>
                </div>
            </form>
        </div>

    </div>
    <!-- footer -->
    <footer class="page-footer font-small black">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://BloodDonations.com/"> BloodDonations.com</a>
        </div>
    </footer>
{% endblock content%}
