{% extends "files/header.html" %} {% block title %}Drops of Life {% endblock %} {%load static %} {% block content %} {%load static %}
<style>
    .my-container {
        margin: auto;
        margin-top: 100px;
        max-width: 500px;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: -webkit-linear-gradient(left, #eee2ca, #f4f5d2);
    }
    
    .form-design {
        padding: 40px;
    }
    
    body {
        background: -webkit-linear-gradient(left, #c5d3ee, #e7d3e7, rgb(247, 220, 220));
    }
    
    .note {
        text-align: center;
        height: 80px;
        background: -webkit-linear-gradient(left, rgb(160, 5, 5), #2d70ee);
        color: #fff;
        line-height: 80px;
        font-size: x-large;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    
    .my-button {
        background: -webkit-linear-gradient(left, #4c89fa, #9f76e0);
        max-width: 300px;
        margin: auto;
    }
    
    .my-col {
        display: flex;
        justify-content: center;
    }
</style>
<div class="container">
    <div class="my-container">
        <div class="note">
            <p>Set new password</p>
        </div>
        <form action="" role="form" method="POST" class="form-design">
            {% if messages %}
            <div class="form-group" style="text-align: center;color:
                rgb(185, 0, 0);">
                {% for message in messages%} {{ message }} {% endfor%}
            </div>
            {% endif %} {% csrf_token %}
            <div class="form-group">
                <input type="password" name="password" id="password" placeholder="Enter Password" required class="form-control" style="border-radius:
                    15px;">
            </div>
            <div class="form-group">
                <input type="password" name="confirm-password" id="password" placeholder="Enter Password again" required class="form-control" style="border-radius:
                    15px;">
            </div>
            <div class="form-group">
                <div class="col my-col">
                    <button type="submit" class="btn btn-primary my-button">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content%}
