{% extends "files/header.html" %} {% block title %}Drops of Life {% endblock %} {%load static %} {% block content %} {%load static %}    <style>
        .my-nav-bar {
            background-color: rgb(175, 4, 4);
        }
        
        .style-my-button {
            size: px;
            background-color: white;
        }
        
        .modify {
            max-width: auto;
        }
        
        .man {
            text-align: center;
        }
        
        .design-row {
            border-radius: 25px;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
            padding: 10px;
            margin-top: 20px;
        }
        
        .firstContainer {
            padding: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        .my-table {
            overflow: hidden;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            max-width: 100%;
        }
        
        .thead-color {
            background-color: rgb(175, 4, 4);
        }
        
        .my-form {
            justify-content: center;
        }
        
        td,
        thead {
            text-align: center;
        }
    </style>

    <div class="container-fluid1 shadow-sm firstContainer">
        <div class="container">
            <form action="" method="post" class="my-form">
                {%csrf_token%}
                <div class="form-row">
                    <div class="form-group modify col-sm">
                        <input type="text" name="bg" placeholder="BloodGroup" class="form-control" style="border-radius:
                                    15px;" required>
                    </div>
                    <div class="form-group modify col-sm">
                        <input type="text" name="area" placeholder="Area" class="form-control" style="border-radius:
                                    15px;">
                    </div>
                    <div class="form-group modify col-sm">
                        <input type="text" name="city" placeholder="City" class="form-control" style="border-radius:
                                    15px;">
                    </div>
                    <div class="form-group modify col-sm">
                        <input type="text" name="state" placeholder="State" class="form-control" style="border-radius:
                                    15px;">
                    </div>
                    <div class="form-group modify col-sm md-6">
                        <input type="text" name="country" placeholder="Country" class="form-control" style="border-radius:
                                    15px;">
                    </div>
                    <div class="form-group modify col-sm md-6">
                        <div class="container">
                            <input type="submit" class="btn
                                        btn-outline-dark" value="Search">
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="container-fluid">
        {% if req_method %} {% if check1 %} {%if check%}

        <div class="container" style="text-align: center;margin-top: 30px;">
            <h4>The available donors are </h4>
        </div>

        <div class="container" style="margin-top: 30px;overflow:auto;">
            <table class="table table-striped my-table">
                <thead class="thead-color">
                    <tr>
                        {%for title in table_headers%}
                        <th scope="col" style="color: white;font-family: Helvetica Neue">{{title}}</th>
                        {%endfor%}
                    </tr>
                </thead>
                <tbody>
                    {%for filters in details%} {%for d in filters%}
                    <tr>
                        {% for d1 in d %}
                        <td>{{d1}}</td>
                        {% endfor %}
                    </tr>
                    {%endfor%} {%endfor%}
                </tbody>
            </table>
        </div>
        {%endif%} {% else %}
        <div class="container" style="margin-top: 50px;">
            <div class="row align-items-self">
                <div class="col" style="text-align: center;">
                    <h3>Sorry no donors available .</h3>
                </div>
            </div>
            <div class="row align-items-self" style="margin-top:30px">
                <div class="col align-self-center" style="display: flex;justify-content: center;">
                    <img src="{% static 'images/gesture.svg' %}" alt="sad
                        icon" class="img-fluid" style="max-height: 300px; max-width: 300px;">
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
    {% endif %}
    <footer class="page-footer font-small black">
        <div class="footer-copyright text-center py-3">
            <small> © 2020 Copyright:
                    <a href="https://BloodDonations.com/"> BloodDonations.com</a>
                </small>
        </div>
    </footer>
{% endblock content %}
